.form-row {
  display: flex;
  flex-direction: column;
}

.form-row--inline {
  display: inline-block;
  vertical-align: top;

  &:not(:first-of-type) {
    padding-left: $spacing-vertical * 3/2;
  }
}

.form-row__field {
  display: flex;
  padding: $spacing-vertical * 2/3 0;

  textarea,
  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='number'],
  input[type='search'],
  input[type='date'] {
    cursor: text;
    border-bottom: var(--input-border-size) solid var(--input-border-color);
    color: var(--input-color);
    line-height: 1;
  }

  input[type='text'].input-copyable {
    background: var(--input-bg);
    color: var(--input-disabled-color);
    width: 100%;
    font-family: 'Consolas', 'Lucida Console', 'Adobe Source Code Pro', monospace;
    border-bottom: 1px dotted var(--color-divider);
  }
}

.form-row__error {
  color: var(--color-error);
}

.form-row__label {
  color: var(--color-grey-dark);
}

// Not sure if I like these
// Maybe this should be in gui.scss?
.input--lbc-amount {
  width: 75px;
  font-weight: 700;
}

.input--address {
  width: 370px;
}
